button.deleteNotif {
  color: firebrick;
  position: relative;
  outline:0;
  border:0;
  padding:0;
  float: right;
  background-color: transparent;
  font-size: 1.5rem;
  left:-1.5rem;
  cursor: pointer;
}

.NotificationBanner a {
  color: rgb(30, 255, 0);
  font-size: 2rem;
}

.NotificationBanner {
  color: white;
  border: white solid 1px;
  margin: 1rem;
  background: #222
}

.NotificationBoard h2 {
  color: rgb(255, 255, 255);
  border-bottom: black solid 2px;
  background-color: #3949ab;
  padding:0;
  margin: 0rem 0rem 1rem 0rem;
}

.NotificationBoard {
  margin-bottom: 15rem;
}

.Late {
  color: white;
  border: white solid 1px;
  border-left: red solid 3px;
  background: #222;
  margin: 1rem;
}

p {
  margin:0;
  padding: 1rem;
}

@media screen and (min-width:900px) {
  .NotificationBoard section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
  }

  .NotificationBoard section div {
    display: block;
  }
}
