.profileSection {
  background-color: #222;
  color: white;
  margin: 1rem;
  border: white solid 1px;
  font-size: 1.3rem;
}

.profileSection button {
  text-align: center;
  font-size: 1.5rem;
  background: transparent;
  color: rgb(34, 131, 99);
  border: none;
  margin-left: 2rem;
  cursor: pointer;
}


@media screen and (min-width:900px) {
  section.profileSection {
    max-width: 40rem;
  }
}