nav {
  position: relative;
  background: #2d0075;
  display: block;
  padding: 0.4rem 0;
  height: 2rem;
}

nav a.homeButton {
  color: white;
  font-size: 2rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0.3rem;
  left: 0;
  right: 0;
  text-align: center;
}

nav ul a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 0.2rem;
  font-size: 3rem;
  display: block;
  z-index: 3;
  background: transparent;
}

nav .burger {
  position: absolute;
  right: 0.2rem;
  top: 0.3rem;
  border: 0;
  color: white;
  float: right;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  height: 2rem;
  z-index: 5;
}

nav ul {
  display: none;
  list-style: none;
  padding:0;
  margin-top: 2.4rem;
  text-align: center;
}

nav ul.show {
  display: block;
  width: 100%;
  border:none;
}

nav ul.show div.navBackground {
  position: absolute;
  top: 0;
  height:100vh;
  width:100vw;
  background: rgba(0, 0, 0, 0.74);
  z-index: 2;
}


/*Animations */
ul.show {
  animation: fadeIn 0.1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity:1;}
}

@media screen and (min-width: 900px) {
  nav {
    position: fixed;
    display: flex;
    width: 10rem;
    height: 100%;
    flex-direction: column;
  }

  nav ul {
    width: 100%;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0;
    background: transparent;
    color: black;
  }


  nav ul a {
    font-size: 1.2rem;
    display: block;
    margin: 0rem 1rem;
    margin-top: 1.2rem;
    padding: 0.3rem 0;
    
  }

  nav ul a:hover {
    background: rgb(0, 89, 255);
    border-radius: 0.4rem;
    transition: 0.2s;

  }

  nav .burger {
    display: none;
  }

  nav .homeButton {
    display: none;
  }

  nav ul.show div.navBackground {
    display: none;
  }

}

/* */